---
import Layout from '../layouts/Layout.astro';
import TaskList from '@/components/TaskList';
---

<Layout>
  <div class="max-w-xl mx-auto p-4 space-y-4">
    <TaskList client:load />
  </div>
</Layout>
